.b{color:#35ABCF;
	font-size: 23px;

}

.body {
	height:500px;
	width:500px;
	background-color: #ddd;
}

h1{
color:green;
font-size: 50px;
}

.dc{
	width:100%;
	height: 3.8em;
}
.titre{
	border: 0;
	padding: 0;
	 border-collapse: collapse;
}

.titre tr{

	margin: 0;
	padding: 0;
	width:100%;
	height:3.8em;
	
}
.t{
	width:100%;
	height:3.8em;

}
#jet{
	position: fixed;
	width:3.8em;
	height: 3.8em;

	background: url("bleu.png") no-repeat;
	background-size: 100%;
}

.t:hover{
	background: url("rouge.png") no-repeat;
	background-size: 100%;
}


